img.hoveringicon{
    float: left;
    margin-right: 1em;
}

#main{
    border: 2px solid black;
    overflow: hidden;
}

h2{
    clear: left;
    background-color: yellow;
}

p{
    background-color: fuchsia;
}

