@font-face{
  font-family: "Kimberley";
  src: url(http://princexml.com/fonts/larabie/kimberle.ttf) 
       format("TrueType");
}
body{
  background-image: url(smily.jpg);
  background-position: center bottom; /* horizontal, vertical */
  /*background-size */
  background-repeat: no-repeat;
  background-size: 25px;
  background-attachment: fixed; /* whether image scrolls with page */
}
a{
  letter-spacing: 0.25em;
  line-height: 1em;
  word-spacing: 3em;
  text-decoration: none;
}
p{
  font-family: "Trebuchet MS";
  font-size: 200%;
  color: red;
  text-align: justify;
  text-decoration: underline;
  text-indent: 5em;
}
strong{
  /*This text-decoration won't override the old <p> selector*/
  text-decoration: none;
}
h1, h2{
  color: blue;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 14pt;
}
h3{
  font: italic bold small "Comic Sans MS", cursive;
  color: rgb(128,0,255);
}
h4{
  /*CSS comment example*/
  font-weight: bold;
  font-style: italic;
  color: #8000FF;
}
h5{
  font-family: "Kimberley", "Comic Sans MS";
  font-weight: bold;
  color: #000000;
}
ol{ 
  list-style-type: upper-roman; /* lower-roman */
}
/*
table{
  caption-side: top; /*left and right not standard 
  font: 14px "Comic Sans MS";
}

caption{
  font-size: 18px;
  font-weight: bold;
}

tr{
  color: blue;
}

th{
  font-style: italic;
  text-decoration: underline;
}

td{
  background-color: yellow;
  text-align: right;
}
*/

.product{
  text-align: left;
  text-decoration: underline;
}

.facts{
  background-color: pink;
}

.fat{
  font-style: italic;
}
